<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Brand Form</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1>Colors</h1>
    <form class="form-group" action="/admin/brand/brandEdit" th:action="@{/admin/brand/brandEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${brand.id}" title=""/>
        <div class="form-group">
            <label for="title">brand</label>
            <input type="text" class="form-control" id="title" th:field="${brand.cName}"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" th:href="@{/admin/brand/}" class="btn btn-danger" role="button">Cancel</a>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>