<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Furniture Form</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1>Furniture</h1>
    <form class="form-group" action="/admin/clothes/clothesEdit" th:action="@{/admin/clothes/clothesEdit}"
          method="post" enctype="multipart/form-data">
        <input th:type="hidden" name="id" th:field="${clothes.id}" title=""/>
        <div class="form-group">

            <label>Clothes</label>
            <div class="form-group">
                <label>Color</label>
                <div>
                    <select th:field="*{clothes.color}">
                        <option value=""></option>
                        <option th:each="color : ${colorList}"
                                th:value="${color.id}"
                                th:text="${color.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Brand</label>
                <div>
                    <select th:field="*{clothes.brand}">
                        <option value=""></option>
                        <option th:each="brand : ${brandList}"
                                th:value="${brand.id}"
                                th:text="${brand.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>ClothesSize</label>
                <div>
                    <select th:field="*{clothes.clothesSize}">
                        <option value=""></option>
                        <option th:each="clothesSize : ${clothesSizeList}"
                                th:value="${clothesSize.id}"
                                th:text="${clothesSize.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>ClothesMaterial</label>
                <div>
                    <select th:field="*{clothes.clothesMaterial}">
                        <option value=""></option>
                        <option th:each="clothesMaterial : ${clothesMaterialList}"
                                th:value="${clothesMaterial.id}"
                                th:text="${clothesMaterial.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Gender</label>
                <div>
                    <select th:field="*{clothes.gender}">
                        <option value=""></option>
                        <option th:each="gender : ${genderList}"
                                th:value="${gender.id}"
                                th:text="${gender.name}"></option>
                    </select>
                </div>
            </div>
            <label>Clothes</label>
            <div class="form-group">
                <label>Season</label>
                <div>
                    <select th:field="*{clothes.season}">
                        <option value=""></option>
                        <option th:each="season : ${seasonList}"
                                th:value="${season.id}"
                                th:text="${season.name}"></option>
                    </select>
                </div>
            </div>
            <label>Description</label>
            <input type="text" class="form-control" th:field="${clothes.description}" title=""/>
            <label>Price</label>
            <input type="number" class="form-control" th:field="${clothes.price}" title=""/>
            <label>Photo</label>
            <input type="file" name="file" value="upload"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" th:href="@{/admin/clothes/}" class="btn btn-danger" role="button">Cancel</a>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>