<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ClothesSize</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div>
        <h1>ClothesSize</h1>
        <p>
            <a href="/admin/clothesSize/clothesSizeEdit" th:href="@{/admin/clothesSize/clothesSizeEdit}">Create</a>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="clothesSizes : ${clothesSizeList}">
                <td th:text="${clothesSizes.id}">1</td>
                <td th:text="${clothesSizes.name}">Test</td>
                <td>
                    <a href="/admin/clothesSize/clothesSizeEdit/" th:href="@{/admin/clothesSize/clothesSizeEdit/__${clothesSizes.id}__}">Edit</a>
                    <a href="/admin/clothesSize/clothesSizeDelete/"
                       th:href="@{/admin/clothesSize/clothesSizeDelete/__${clothesSizes.id}__}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>>