<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ShoesMaterial</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div>
        <h1>ShoesMaterial</h1>
        <p>
            <a href="/admin/shoesMaterial/shoesMaterialEdit" th:href="@{/admin/shoesMaterial/shoesMaterialEdit}">Create</a>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shoesMaterials : ${shoesMaterialList}">
                <td th:text="${shoesMaterials.id}">1</td>
                <td th:text="${shoesMaterials.name}">Test</td>
                <td>
                    <a href="/admin/shoesMaterial/shoesMaterialEdit/" th:href="@{/admin/shoesMaterial/shoesMaterialEdit/__${shoesMaterials.id}__}">Edit</a>
                    <a href="/admin/shoesMaterial/shoesMaterialDelete/"
                       th:href="@{/admin/shoesMaterial/shoesMaterialDelete/__${shoesMaterials.id}__}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>