<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Shoes Form</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1>Shoes</h1>
    <form class="form-group" action="/admin/shoes/shoesEdit" th:action="@{/admin/shoes/shoesEdit}"
          method="post" enctype="multipart/form-data">
        <input th:type="hidden" name="id" th:field="${shoes.id}" title=""/>
        <div class="form-group">
            <label>Shoes</label>
            <div class="form-group">

                <label>Color</label>
                <div>
                    <select th:field="*{shoes.color}">
                        <option value=""></option>
                        <option th:each="colors : ${color}"
                                th:value="${colors.id}"
                                th:text="${colors.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>ShoesMaterial</label>
                <div>
                    <select th:field="*{shoes.shoesMaterial}">
                        <option value=""></option>
                        <option th:each="shoesMaterials : ${shoesMaterial}"
                                th:value="${shoesMaterials.id}"
                                th:text="${shoesMaterials.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>ShoesSize</label>
                <div>
                    <select th:field="*{shoes.shoesSize}">
                        <option value=""></option>
                        <option th:each="shoesSizes : ${shoesSize}"
                                th:value="${shoesSizes.id}"
                                th:text="${shoesSizes.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Season</label>
                <div>
                    <select th:field="*{shoes.season}">
                        <option value=""></option>
                        <option th:each="seasons : ${season}"
                                th:value="${seasons.id}"
                                th:text="${seasons.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Brand</label>
                <div>
                    <select th:field="*{shoes.brand}">
                        <option value=""></option>
                        <option th:each="brands : ${brand}"
                                th:value="${brands.id}"
                                th:text="${brands.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Gender</label>
                <div>
                    <select th:field="*{shoes.gender}">
                        <option value=""></option>
                        <option th:each="genders : ${gender}"
                                th:value="${genders.id}"
                                th:text="${genders.name}"></option>
                    </select>
                </div>
            </div>


            <label>Description</label>
            <input type="text" class="form-control" th:field="${shoes.description}" title=""/>
            <label>Price</label>
            <input type="number" class="form-control" th:field="${shoes.price}" title=""/>
            <label>Photo</label>
            <input type="file" name="file" value="upload"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" th:href="@{/admin/shoes/}" class="btn btn-danger" role="button">Cancel</a>
    </form>
</div>
<div th:replace="fragments/shoes :: footer"></div>
</body>
</html>