<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shoes</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div>
        <h1>Shoes</h1>
        <p>
            <a href="/admin/shoes/shoesEdit" th:href="@{/admin/shoes/shoesEdit}">Create</a>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Color</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shoes : ${shoesList}">
                <td th:text="${shoes.id}"></td>
                <td th:text="${shoes.description}"></td>
                <td th:text="${shoes?.color?.name}"></td>
                <td>
                    <a href="/admin/shoes/shoesEdit/"
                       th:href="@{/admin/shoes/shoesEdit/__${shoes.id}__}">Edit</a>
                    <a href="/admin/shoes/shoesDelete/"
                       th:href="@{/admin/shoes/shoesDelete/__${shoes.id}__}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>