<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">My project</a>
        </div>
        <div class="navbar-collapse collapse">
            <th:block
                    th:if="${ #authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'ADMIN')}">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" th:href="@{/admin/clothes}">Clothes</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/admin/color}">Colors</a>
                    </li>

                    <li>

                    <a href="#" th:href="@{/admin/brand}">Brand</a>
                    </li>

                    <li>

                    <a href="#" th:href="@{/admin/clothesMaterial}">ClothesMaterial</a>
                    </li>

                    <li>

                    <a href="#" th:href="@{/admin/clothesSize}">ClothesSize</a>
                    </li>

                    <li>

                    <a href="#" th:href="@{/admin/gender}">Gender</a>
                    </li>

                    <li>

                    <a href="#" th:href="@{/admin/season}">Season</a>
                    </li>

                    <li>

                        <a href="#" th:href="@{/admin/shoes}">Shoes</a>
                    </li>

                    <li>

                        <a href="#" th:href="@{/admin/shoesMaterial}">ShoesMaterial</a>
                    </li>

                    <li>

                        <a href="#" th:href="@{/admin/shoesSize}">ShoesSize</a>
                    </li>
                </ul>
                </ul>
            </th:block>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                    <a href="/registration" th:href="@{/registration}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Registration
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>tml>