<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Public Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <div>
            <h1>Clothes</h1>

            <div class="col-3">
                <form action="#" th:action="@{/}" method="GET" th:object="${filter}">
                    <div class="form-group row">
                        <div>
                            <label>Price</label><br>
                            <div class="col-sm-2">
                                <input th:field="*{min}" placeholder="Min"/>
                            </div>
                            <div class="col-sm-2">
                                <input th:field="*{max}" placeholder="Max"/>
                            </div>

                            <br>
                            <br>
                            <br>
                            <label>Colors</label><br>
                            <th:block th:each="color : ${colorList}">
                                <input type="checkbox" th:field="*{colorId}" th:value="${color.id}"
                                       th:text="${color.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <br>
                            <label>Brand</label><br>
                            <th:block th:each="brand : ${brandList}">
                                <input type="checkbox" th:field="*{brandId}" th:value="${brand.id}"
                                       th:text="${brand.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <br>
                            <label>Gender</label><br>
                            <th:block th:each="gender : ${genderList}">
                                <input type="checkbox" th:field="*{genderId}" th:value="${gendere.id}"
                                       th:text="${gender.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <br>
                            <label>Season</label><br>
                            <th:block th:each="season : ${seasonList}">
                                <input type="checkbox" th:field="*{seasonId}" th:value="${season.id}"
                                       th:text="${season.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <br>
                            <label>Clothes Material</label><br>
                            <th:block th:each="clothesMaterial : ${clothesMaterialList}">
                                <input type="checkbox" th:field="*{clothesMaterialId}" th:value="${clothesMaterial.id}"
                                       th:text="${clothesMaterial.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <br>
                            <label>Clothes Size</label><br>
                            <th:block th:each="clothesSize : ${clothesSizeList}">
                                <input type="checkbox" th:field="*{clothesSizeId}" th:value="${clothesSize.id}"
                                       th:text="${clothesSize.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <br/>
            <table class="table">
                <thead>
                <tr>
                    <th>Color</th>
                    <th>Brand</th>
                    <th>Gender</th>
                    <th>Season</th>
                    <th>Clothes Material</th>
                    <th>Clothes Size</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Photo</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clothes : ${clothesList.content}">
                    <td th:text="${clothes?.color?.name}"></td>
                    <td th:text="${clothes?.brand?.name}"></td>
                    <td th:text="${clothes?.gender?.name}"></td>
                    <td th:text="${clothes?.season?.name}"></td>
                    <td th:text="${clothes?.clothesMaterial?.name}"></td>
                    <td th:text="${clothes?.clothesSize?.name}"></td>
                    <td th:text="${clothes.description}"></td>
                    <td th:text="${clothes.price}"></td>
                    <td><img th:src="@{${clothes.path}}" th:height="110px" th:width="110px" alt=""></td>
                    <td><a th:href="${'/add/'+clothes.id}"
                           class="btn btn-primary">Add on Cart</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h1>Shoes</h1>

            <div class="col-3">
                <form action="#" th:action="@{/}" method="GET" th:object="${filter}">
                    <div class="form-group row">
                        <div>
                            <label>Price</label><br>
                            <div class="col-sm-2">
                                <input th:field="*{min}" placeholder="Min"/>
                            </div>
                            <div class="col-sm-2">
                                <input th:field="*{max}" placeholder="Max"/>
                            </div>

                            <br>
                            <br>
                            <br>
                            <label>Colors</label><br>
                            <th:block th:each="color : ${colorList}">
                                <input type="checkbox" th:field="*{colorId}" th:value="${color.id}"
                                       th:text="${color.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <br>
                            <label>Brand</label><br>
                            <th:block th:each="brand : ${brandList}">
                                <input type="checkbox" th:field="*{brandId}" th:value="${brand.id}"
                                       th:text="${brand.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <br>
                            <label>Gender</label><br>
                            <th:block th:each="gender : ${genderList}">
                                <input type="checkbox" th:field="*{genderId}" th:value="${gendere.id}"
                                       th:text="${gender.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <br>
                            <label>Season</label><br>
                            <th:block th:each="season : ${seasonList}">
                                <input type="checkbox" th:field="*{seasonId}" th:value="${season.id}"
                                       th:text="${season.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <br>
                            <label>Shoes Material</label><br>
                            <th:block th:each="shoesMaterial : ${shoesMaterialList}">
                                <input type="checkbox" th:field="*{shoesMaterialId}" th:value="${shoesMaterial.id}"
                                       th:text="${shoesMaterial.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <br>
                            <label>Shoes Size</label><br>
                            <th:block th:each="shoesSize : ${shoesSizeList}">
                                <input type="checkbox" th:field="*{shoesSizeId}" th:value="${shoesSize.id}"
                                       th:text="${shoesSize.name}"
                                       placeholder="Search"/>
                            </th:block>
                            <br>
                            <br>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <br/>
            <table class="table">
                <thead>
                <tr>
                    <th>Color</th>
                    <th>Brand</th>
                    <th>Gender</th>
                    <th>Season</th>
                    <th>Shoes Material</th>
                    <th>Shoes Size</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Photo</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shoes : ${shoesList.content}">
                    <td th:text="${shoes?.color?.name}"></td>
                    <td th:text="${shoes?.brand?.name}"></td>
                    <td th:text="${shoes?.gender?.name}"></td>
                    <td th:text="${shoes?.season?.name}"></td>
                    <td th:text="${shoes?.shoesMaterial?.name}"></td>
                    <td th:text="${shoes?.shoesSize?.name}"></td>
                    <td th:text="${shoes.description}"></td>
                    <td th:text="${shoes.price}"></td>
                    <td><img th:src="@{${shoes.path}}" th:height="110px" th:width="110px" alt=""></td>
                    <td><a th:href="${'/add/'+shoes.id}"
                           class="btn btn-primary">Add on Cart</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>